.App {
  text-align: center;
}

.header {
  color: white;
  background-color: #666;
  height: 3rem;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: 1;
}

span.title {
  color: #fff;
  display: block;
  float: left;
  font-size: 1.125rem;
  line-height: 3rem;
}

main {
  background-color: #333;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 3rem;
  color: white;
}

.loader {
  display: table;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.editingImage {
  height: 600px;
  width: 600px;
}